<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title><{$title}></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="<{$WEB_DIR}>/i/css/mui.min.css" rel="stylesheet" />
    <link href="<{$WEB_DIR}>/i/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="<{$WEB_DIR}>/i/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="<{$WEB_DIR}>/i/css/icons-extra.css">

    <script src="<{$WEB_DIR}>/i/js/mui.min.js"></script>
    <script src="<{$WEB_DIR}>/i/js/mui.enterfocus.js"></script>
    <script src="<{$WEB_DIR}>/i/js/app.js"></script>
    <script src="<{$WEB_DIR}>/i/js/jquery.min.js"></script>
<body>
<div class="container">
<{include file=$__template_file}>
</div>
</body>
</html>